table {
  width: 100%;
}
.container {
  width: 60%;
  margin: 0 auto;

}
.tag1 {
  display: inline-block;
  position: relative;
  text-align: left;
}
.mat-paginator {
  display: inline-block;
}
.tag{
  padding: 15px;
  margin-left: 450px;
}
.tag2{
  margin-left: -450px;
  margin-top:-70px;
}





th.mat-sort-header-sorted {
  color: black;
}